@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* Creting global variables for default settings. */
:root {

    --font-primary: "Roboto";
    --font-fallback: sans-serif;


    --clr-primary-a: #f9faf8;
    --clr-secondary-a: #e5e7eb;
    --clr-primary-b: #1f2937;

    --clr-bg-primary-a: #1f2937;
    --clr-bg-buttons-a: #3882f6;
    --clr-bg-primary-c: #e5e7eb;


    --default-border-rad: 5px;
}

* {
    font-family: var(--font-primary), var(--font-fallback);
}


/* For Attribution Purposes only */

.attribution {
    font-size: 12px;
    color: var(--clr-secondary-a);
}

/* Fixing global links, messy underline behaviour. */
a {
    color: inherit;
    text-decoration: none;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

/* Working on Header Code */
.header,
.section-a,
.section-b,
.section-c,
.footer {
    padding-left: 18vw;
    padding-right: 18vw;
}

.header {
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: var(--clr-bg-primary-a);


    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-text {
    font-size: 24px;
    color: var(--clr-primary-a);
    font-weight: bolder;
}

ul {
    color: var(--clr-secondary-a);
    list-style: none;
    font-size: 12px;
    margin: 0;
    padding: 0;

    display: flex;
    gap: 16px;
}

.section-a,
.section-b,
.section-c {
    padding-top: 50px;
    padding-bottom: 50px;

    display: flex;
    gap: 16px;
}

/* Working on Section A */
.section-a {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--clr-bg-primary-a);

    display: flex;
    gap: 16px;
}

.sec-a-heading {
    font-size: 42px;
    font-weight: 900;
    color: var(--clr-primary-a);
    margin-bottom: 16px;
}

.sub-text,
.header-sub-text,
.sec-a-sub {
    font-size: 18px;
    color: var(--clr-secondary-a);
}

.sec-a-img-focus {
    height: 250px;
    width: 500px;
    border-radius: var(--default-border-rad);
    box-shadow: 0px 0px 15px 3px rgba(255, 255, 255, 0.096);
}

.sec-a-sign-up-button {
    border: none;
    background-color: var(--clr-bg-buttons-a);
    margin-top: 16px;

    font-size: 18px;
    color: var(--clr-secondary-a);
    font-weight: bolder;

    padding: 5px 32px;
    border-radius: var(--default-border-rad);
}


/* Working on Section-b */

.section-b {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.sec-b-heading {
    font-size: 36px;
    font-weight: 900;
    color: var(--clr-primary-b);
}

.sec-b-sub {
    font-size: 18px;
    color: var(--clr-primary-b);
    text-align: center;
    max-width: 250px;
}

.card-container {
    display: flex;
    gap: 32px;
}

.card-img {
    height: 120px;
    padding: 32px;
    border: 5px solid var(--clr-bg-buttons-a);
    border-radius: calc(var(--default-border-rad) + 10px);
}


.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.apply-sec-b-primary-color {
    color: var(--clr-primary-b);
}

/* Working on Section-C */

.section-c {

    background-color: var(--clr-bg-primary-c);
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    text-align: center;
}

.author
{
    width: 100%;
    font-size: 20px;
    text-align: right;
    padding-right: 100px;
}


/* Working on Footer */
.footer
{
    display: flex;
    align-items: center;
    
    padding: 32px;
    background-color: var(--clr-bg-primary-a);
}

.footer-text
{
    color: var(--clr-primary-a);
    width: 100%;
    text-align: center;
}